/* Write your code here. */
.btn-style {
  background-color: white;
  border: none;
}
.li-container {
  list-style-type: none;
}
.btn-style:hover {
  cursor: pointer;
}
.active-btn {
  border-bottom: 5px solid blue;
}
